table {
    border-collapse: collapse;
    font-size: 150%;
    padding: 10px;
}

table td, table th {
    border-collapse: collapse;
    text-align: left;

}

p {
    font-family: 'Open Sans', Arial, sans-serif;
}

button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 150%;
}